body,{
     margin:0px;
     background-color:#DBDBDB;
}

div{
     padding:10px;
}

#header{
        background-color:#ADADAD;
}

#article1,#article2,#picture,#lastarticle,#sideblock{
          margin:10px;
          background-color:#FAFAFA;
          box-shadow:1px 1px 1px 1px;
}

#article1,#article2,#picture{
          margin:10px;
          background-color:#FAFAFA;
          text-align:center;
}

.title{ 
        font-weight:bold;
        font-size:20px;
}

.hlink{
       color:#000;
}

table,th,tr{ 
        text-align:center;
}

th{
   background-color:#000;
   color:#fff;
}

#sideblock{ 
    text-align:center;
}
 
form,input{
    margin:3px;
}
